<section class="home">
    <div class="wrapper">
        <mat-drawer-container>
            <mat-drawer #drawer mode='over' position="start">
                <app-left-sidebar (cerrar)="drawer.toggle()"></app-left-sidebar>)
            </mat-drawer>
            
            <app-header-app (drawer)="drawer.toggle()"></app-header-app>
            <div class="body-home">
                <div class="section-image">
                    <img src="/assets/images/banner-img.png" class="banner-img" alt>
                    <div class="eslogan mt-3 mb-3">
                        <div class="text-right">
                            <span class="txt-1">Conoce cómo ganar una</span>
                            <span class="txt-2">Ducati Scrambler</span>
                        </div>
                        <div class="text-left" (click)="saberMas()">
                            <span class="txt-red">Saber más</span>
                            <mat-icon class="icon-arrow">arrow_forward</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </mat-drawer-container> 
    </div>
</section>