<section class="login">
    <ng-container *ngIf="isMobile(); else isDesktop">
        <div class="wrapper">
            <div class="header mt-3 mb-3">
                <div class="d-flex flex-direction-row justify-content-center">
                    <img src="/assets/images/logo-marcas.png" class="logo-marca" alt="logo-marca">
                </div>
            </div>
            <div class="content mb-3">
                <div class="d-flex flex-direction-row justify-content-center w-100">
                    <img src="/assets/images/login-img.png" class="login-img" alt="login-img">
                </div>
                <div class="login-body">
                    <div class="form-login">
                        <h1 class="title-login">INICIO DE SESIÓN</h1>

                        <mat-form-field class="inputs-login" appearance="fill">
                            <mat-label>Correo Electrónico</mat-label>
                            <input [(ngModel)]="username" type="email" matInput placeholder="Ingresa correo electrónico">
                        </mat-form-field>
                        <div *ngIf="errors.username" class="invalid-feedback">{{ errors.username }}</div>
                        
                        <mat-form-field class="inputs-login" appearance="fill">
                            <mat-label class="label">Contraseña</mat-label>
                            <input [(ngModel)]="password" type="{{ inputType_1 }}" class="input" matInput placeholder="Ingresa contraseña" (keyup.enter)="login()">
                            <mat-icon matSuffix class="eye-icon" (click)="showPassword()">{{hide_1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                        <div *ngIf="errors.password" class="invalid-feedback">{{ errors.password }}</div>
                        
                        <span class="label-pwd" style="cursor: pointer;" (click)="recuperarPwd()">Recupera tu contraseña</span>

                        <div class="d-flex flex-direction-row justify-content-center w-100 mt-4 mb-4">
                            <button mat-flat-button color="warn" class="btn-login" (click)="login()">
                                <span class="text-btn">INGRESAR</span>
                            </button>
                        </div>

                        <hr>

                        <span class="txt-registro">¿Aún no tienes una cuenta?<span class="red" (click)="goRegistro()"> Regístrate</span></span>

                    </div>
                </div>
            </div>

            <div class="footer-desktop">
                <img src="/assets/images/liston-img.png" class="liston-img" alt="liston-img">
            </div>
        </div>
    </ng-container>

    <ng-template #isDesktop>
        <div class="wrapper-desktop">
            <div class="body-desktop">
                <div class="section-left">

                    <div class="d-flex flex-direction-row justify-content-start w-100">
                        <img src="/assets/images/logo-marcas.png" class="logo-marca-desktop" alt="logo-marca-desktop">
                    </div>

                    <div class="d-flex flex-direction-row justify-content-start w-100 mt-4">
                        <img src="/assets/images/login-img-lg.png" class="login-img-desktop" alt="login-img-desktop">
                    </div>

                </div>

                <div class="section-right">
                    <div class="form-login-desktop">

                        <h1 class="title-login">INICIO DE SESIÓN</h1>

                        <mat-form-field class="inputs-login" appearance="fill">
                            <mat-label>Correo Electrónico</mat-label>
                            <input [(ngModel)]="username" type="email" matInput placeholder="Ingresa correo electrónico">
                        </mat-form-field>
                        <div *ngIf="errors.username" class="invalid-feedback">{{ errors.username }}</div>

                        <mat-form-field class="inputs-login" appearance="fill">
                            <mat-label class="label">Contraseña</mat-label>
                            <input [(ngModel)]="password" type="{{ inputType_1 }}" class="input" matInput placeholder="Ingresa contraseña" (keyup.enter)="login()">
                            <mat-icon matSuffix class="eye-icon" (click)="showPassword()">{{hide_1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                        <div *ngIf="errors.password" class="invalid-feedback">{{ errors.password }}</div>

                        <span class="label-pwd" style="cursor: pointer;" (click)="recuperarPwd()">Recupera tu contraseña</span>

                        <div class="d-flex flex-direction-row justify-content-center w-100 mt-4 mb-4">
                            <button mat-flat-button color="warn" class="btn-login" (click)="login()">
                                <span class="text-btn">INGRESAR</span>
                            </button>
                        </div>

                        <hr>

                        <div class="d-flex flex-direction-row justify-content-center w-100">
                            <span class="txt-registro">¿Aún no tienes una cuenta?<span class="red" (click)="goRegistro()"> Regístrate</span></span>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <div class="footer-desktop">
                <img src="/assets/images/liston-img.png" class="liston-img" alt="liston-img">
            </div>
        </div>
    </ng-template>
</section>
